
# FLIGHT PRICE PREDECTION

In [181]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [182]:
df_test=pd.read_excel('Test_set.xlsx')

In [183]:
df_test.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included

In [184]:
df_train=pd.read_excel('Data_Train.xlsx')

In [185]:
df_train.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882

In [186]:
df_final=df_test.append(df_train)
df_final.head()

C:\Users\karnb\AppData\Local\Temp\ipykernel_5988\2971243570.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final=df_test.append(df_train)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,NaN
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,NaN
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,NaN
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,NaN
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,NaN

In [187]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [188]:
df_final['Date']=df_final['Date_of_Journey'].str.split('/').str[0].astype(int)
df_final['Month']=df_final['Date_of_Journey'].str.split('/').str[1].astype(int)
df_final['Year']=df_final['Date_of_Journey'].str.split('/').str[2].astype(int)

In [189]:
df_final.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,NaN,6,6,2019
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,NaN,12,5,2019
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,NaN,21,5,2019

In [190]:
df_final.drop('Date_of_Journey',axis=1,inplace=True)

In [191]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(9)
memory usage: 1.3+ MB

In [192]:
df_final['Arrival_Time']=df_final['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [193]:
df_final.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [194]:
df_final['Arrival_hours']=df_final['Arrival_Time'].apply(lambda x:x.split(':')[0])
df_final['Arrival_minutes']=df_final['Arrival_Time'].apply(lambda x:x.split(':')[1])

In [195]:
df_final['Arrival_hours']=df_final['Arrival_hours'].astype(int)
df_final['Arrival_minutes']=df_final['Arrival_minutes'].astype(int)

In [196]:
df_final.drop('Arrival_Time',axis=1,inplace=True)

In [197]:
df_final['Dept_hours']=df_final['Dep_Time'].apply(lambda x:x.split(':')[0])
df_final['Dept_minutes']=df_final['Dep_Time'].apply(lambda x:x.split(':')[1])

In [198]:
df_final['Dept_hours']=df_final['Dept_hours'].astype(int)
df_final['Dept_minutes']=df_final['Dept_minutes'].astype(int)

In [199]:
df_final.drop('Dep_Time',axis=1,inplace=True)

In [200]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int32
 9   Month            13354 non-null  int32
 10  Year             13354 non-null  int32
 11  Arrival_hours    13354 non-null  int32
 12  Arrival_minutes  13354 non-null  int32
 13  Dept_hours       13354 non-null  int32
 14  Dept_minutes     13354 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.3+ MB

In [201]:
df_final[df_final['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dept_hours,Dept_minutes
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [202]:
df_final['Total_Stops'].unique()

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops', nan],
      dtype=object)

In [203]:
df_final['Total_Stops']=df_final['Total_Stops'].map({'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'non-stop':0})
df_final['Total_Stops']=df_final['Total_Stops'].fillna(1)

In [204]:
df_final.drop('Route',axis=1,inplace=True)

In [205]:
df_final.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dept_hours,Dept_minutes
0,Jet Airways,Delhi,Cochin,10h 55m,1.0,No info,NaN,6,6,2019,4,25,17,30
1,IndiGo,Kolkata,Banglore,4h,1.0,No info,NaN,12,5,2019,10,20,6,20

In [206]:
type(df_final['Duration'].str.split(' ').str[0])
# this data type is series

pandas.core.series.Series

In [207]:
df_final['Duration_hour']=df_final['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [208]:
df_final[df_final['Duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dept_hours,Dept_minutes,Duration_hour
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m

In [209]:
# now we have to drop these two entries
df_final.drop([2660,6474],axis=0,inplace=True)

In [210]:
df_final['Duration_hour']=df_final['Duration_hour'].astype(int)

In [211]:
df_final.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dept_hours,Dept_minutes,Duration_hour
0,Jet Airways,Delhi,Cochin,10h 55m,1.0,No info,NaN,6,6,2019,4,25,17,30,10
1,IndiGo,Kolkata,Banglore,4h,1.0,No info,NaN,12,5,2019,10,20,6,20,4
2,Jet Airways,Delhi,Cochin,23h 45m,1.0,In-flight meal not included,NaN,21,5,2019,19,0,19,15,23
3,Multiple carriers,Delhi,Cochin,13h,1.0,No info,NaN,21,5,2019,21,0,8,0,13
4,Air Asia,Banglore,Delhi,2h 50m,0.0,No info,NaN,24,6,2019,2,45,23,55,2

In [212]:
df_final['Duration_minutes']=df_final['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [213]:
df_final['Duration_minutes']=df_final['Duration_minutes'].fillna(0)

In [214]:
df_final['Duration_minutes']=df_final['Duration_minutes'].astype(int)

In [215]:
df_final.drop('Duration',axis=1,inplace=True)

In [216]:
df_final['Airline'].unique()

array(['Jet Airways', 'IndiGo', 'Multiple carriers', 'Air Asia',
       'Air India', 'Vistara', 'SpiceJet', 'Vistara Premium economy',
       'GoAir', 'Multiple carriers Premium economy',
       'Jet Airways Business', 'Trujet'], dtype=object)

In [217]:
# now we will use laber encoder
import sklearn
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [218]:
df_final['Airline']=labelencoder.fit_transform(df_final['Airline'])
df_final['Source']=labelencoder.fit_transform(df_final['Source'])
df_final['Destination']=labelencoder.fit_transform(df_final['Destination'])
df_final['Additional_Info']=labelencoder.fit_transform(df_final['Additional_Info'])

In [219]:
df_final.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hours,Arrival_minutes,Dept_hours,Dept_minutes,Duration_hour,Duration_minutes
0,4,2,1,1.0,8,NaN,6,6,2019,4,25,17,30,10,55
1,3,3,0,1.0,8,NaN,12,5,2019,10,20,6,20,4,0

In [220]:
# we acn also use one hot encoder

In [221]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  int32
 1   Source            13351 non-null  int32
 2   Destination       13351 non-null  int32
 3   Total_Stops       13351 non-null  float64
 4   Additional_Info   13351 non-null  int32
 5   Price             10681 non-null  float64
 6   Date              13351 non-null  int32
 7   Month             13351 non-null  int32
 8   Year              13351 non-null  int32
 9   Arrival_hours     13351 non-null  int32
 10  Arrival_minutes   13351 non-null  int32
 11  Dept_hours        13351 non-null  int32
 12  Dept_minutes      13351 non-null  int32
 13  Duration_hour     13351 non-null  int32
 14  Duration_minutes  13351 non-null  int32
dtypes: float64(2), int32(13)
memory usage: 990.9 KB

In [222]:
df_final.isnull().sum()

Airline                0
Source                 0
Destination            0
Total_Stops            0
Additional_Info        0
Price               2670
Date                   0
Month                  0
Year                   0
Arrival_hours          0
Arrival_minutes        0
Dept_hours             0
Dept_minutes           0
Duration_hour          0
Duration_minutes       0
dtype: int64